.animals-list {
  grid-column: 2;
  height: 370px;
  overflow-y: scroll;
}
.animals-list li {
  cursor: pointer;
}

.animals-list::-webkit-scrollbar {
  width: 18px;
}
.animals-list::-webkit-scrollbar-thumb {
  background: #f4ba53;
  border-left: 3px solid #faf6ed;
  border-right: 3px solid #faf6ed;
  border-radius: 40px;
}

.animals-list::-webkit-scrollbar-track {
  background: #faf6ed;
}

.animals-info {
  grid-column: 3;
}
.animals-info h2 {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: #e54;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}
.animals-info h2::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 10px;
  background-color: #f4ba53;
}
.animals-info p {
  font: 400 1rem/1.4 helvetica, arial;
  margin-top: 1rem;
}
